<%- include('partials/header') %>
    <%- include ('partials/navbar') %>
        <div class="wrapper">
            <div class="colorheader">
                <div id="colorblock1">&nbsp;</div>
                <div id="colorblock2">&nbsp;</div>
            </div>
            <div id="titlecontent">
                <div class="name">
                    <h1>Gianna Read-Skelton</h1>
                </div>
                <div class="headshot">
                    <img src="/attachments/gianna-read-skelton-headshot.jpg" alt="gianna-read-skelton-headshot">
                </div>
            </div>
        </div>
        <%- include('partials/footer') %>