<%- include('partials/header') %>
    <%- include ('partials/navbar') %>

        <h1>Gianna Read-Skelton</h1>

        <img src="/attachments/gianna-read-skelton-headshot.jpg" alt="gianna-read-skelton-headshot" class="center">

        <%- include('partials/footer') %>