<%- include('partials/header') %>
    <%- include ('partials/navbar') %>
        <div class="wrapper">
            <div id="colorblock1">&nbsp;</div>
            <div id="colorblock2">&nbsp;</div>
        </div>
        <div class="text-center">
            <div>
                <h1>Gianna Read-Skelton</h1>
            </div>
            <div>
                <img src="/attachments/gianna-read-skelton-headshot.jpg" alt="gianna-read-skelton-headshot"
                    class="img-fluid">
            </div>
        </div>
        <%- include('partials/footer') %>