<%- include('partials/header') %>
    <%- include ('partials/navbar') %>
        <div class="p-3 mb-2 bg-primary text-white"></div>
        <h1>Gianna Read-Skelton</h1>
        <div class="text-center">
            <img src="/attachments/gianna-read-skelton-headshot.jpg" alt="gianna-read-skelton-headshot"
                class="img-fluid">
        </div>
        <%- include('partials/footer') %>